*{
    margin: 0;
    padding: 0;

}

html
{
    font-size: 62.5%;
}

body{
    background-color: rgb(3, 0, 31);
    color: white;
    font-family: 'poppins',sans-serif;
}
.App{
    display: flex;
min-height: 100vh;
}

.sidebar{
    border-right: 1px solid rgb(100,100, 100);
    flex: 3;
}


.logo {
    margin-right: 1rem;
}
.brand{
    font-size: 2rem;
}

.upperside{
    padding: 2.5rem;
    border-bottom: 1px solid rgb(100,100, 100);
    height: 70%;
}

.uppersidetop{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.btnchat{
    height: 2rem;
    padding-right: 1rem;
}
.midbtn{
    color: white;
    background-color: #5A4bff;
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: o.5rem;

}

.query{
    background-color: transparent;
    color: rgb(247, 246, 244);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid wheat;
}

.query>img{
    margin-right: 2rem;
    object-fit: cover;
    font-size: 1.75rem;
}

.lowerside{
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.listitem{
    margin: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    

}
.listitem>img{
    margin-right: 2rem;
    object-fit: cover;
    font-size: 1.75rem;
}

.main{
    display: flex;
    flex: 9;
    min-height: calc(100vh-14rem);
    margin: 6rem 10rem;
    flex-direction: column;
    align-items: center;
}
.chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
height: calc(100vh - 18rem);
}
.chatbox{
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.gpticon{
    margin-right: 2rem;
    object-fit: cover;
    width: 3rem;
    border-radius: 0.5rem;
}
.bot{
    background: rgba(28,30, 58,1);
    width: fit-content;
    border-radius: 0.5rem;
}

.chatfooter{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inputs{
    padding: 0.5rem;
    background-color: rgba(28,30, 58,1);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 70rem;
}
.inputs>input{
    color: white;
    width: calc(100% - 3rem);
    outline: none;
    padding: 1.5rem;
}
.inputs>input,.sendbtn{
    background: transparent;
    border: none;
}